<div class="container">
  <div class="col-md-4 col-md-offset-4 centered">
    <h2>Register</h2>
    <form [formGroup]="form" #formDir="ngForm" role="form">
      <div class="form-content">
        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" formControlName="firstName" required
            [ngClass]="{ 'is-invalid': formDir.submitted && form.get('firstName').errors?.required }"/>

          <span class="invalid-feedback">
            <span *ngIf="formDir.submitted && form.get('firstName').errors?.required">
              First Name is required
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" required
            [ngClass]="{ 'is-invalid': formDir.submitted && form.get('lastName').errors?.required }"/>

          <span class="invalid-feedback">
            <span *ngIf="form.get('lastName').dirty && form.get('lastName').errors?.required">
              Last Name is required
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username" required
            [ngClass]="{ 'is-invalid': formDir.submitted && form.get('username').errors?.required }"/>

          <span class="invalid-feedback">
            <span *ngIf="form.get('username').dirty && form.get('username').errors?.required">
              Username is required
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" required
            [ngClass]="{ 'is-invalid': formDir.submitted && form.get('password').errors?.required }"/>

          <span class="invalid-feedback">
            <span *ngIf="form.get('password').dirty && form.get('password').errors?.required">
              Password is required
            </span>
          </span>
        </div>

        <div class="form-actions">

          <button (click)="register(formDir)" [disabled]="authenticationService.dataLoading" class="btn btn-primary">Register</button>
          <img *ngIf="authenticationService.dataLoading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <span *ngIf="errorMessage">
            {{ errorMessage }}
          </span>

        </div>
      </div>
    </form>
  </div>
</div>
